<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Minesweeper with VueJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container" id="app">
		<table class="table table-bordered text-center" v-if="renderGame">
		  <tbody>
			<tr v-for="(row, index) in gridSize" :key="index">
			  <td v-for="(col, index) in gridSize" :key="index" @click="leftClick($event, row, col)" @click.right="rightClick($event,row, col)">{{populateCell(row, col)}}</td>
			</tr>
		  </tbody>
		</table>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/minesweeper.js"></script>
</body>
</html>